*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html, body {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: 'Nunito Sans', sans-serif; }

.heading-1 {
  font-size: 2.5rem; }

.heading-2 {
  font-size: 1.6rem; }
