*,
*::before,
*::after
  margin: 0
  padding: 0
  box-sizing: inherit

html,
body
  box-sizing: border-box
  font-size: 62.5%	 // 10px/16px = 62.2% -> 1rem = 10px
  font-family: 'Nunito Sans', sans-serif
  line-height: 1.4
  background-color: var(--primary-color)

\:root 
  --primary-color: #85A5f9
  --secondary-color: #5572D6
  --font-color: #6D6C6D

.heading-1
  font-size: 2.5rem
  color: var(--secondary-color)
  padding-bottom: 3rem

.icon
  width: 6rem
  height: 6rem
  margin-bottom: 3rem



    
