\:root 
  --primary-color: #85A5f9

.wrapper
  width: 60vw
  margin: 15rem auto

.price-section
  display: grid
  grid-template-columns: repeat(3, 1fr)
  font-size: 1.3rem
  background-color: #fff
  border-radius: 10px
  height: 30rem
