*,
*::before,
*::after
  margin: 0
  padding: 0
  box-sizing: inherit

html,body
  box-sizing: border-box
  font-size: 62.5%	
  font-family: 'Roboto', sans-serif
  line-height: 1.4
  background-color: var(--bg-color)
 
\:root
  --bg-color: #4D515D
  --primary-color: #8B8B8C
  --border-color: #EEF0F3

.icon 
  width: 2rem
  height: 2rem
  position: absolute
  left: 2rem
