.container
  display: flex
  justify-content: center
  align-items: center
  height: 100%
  

.membership
  display: grid
  grid-template-columns: minmax(200px, 2fr)  1fr
  @media screen and (max-width: 700px)
    grid-template-columns: 1fr
  margin: 5rem auto
  width: 65vw
  height: 55rem
  background-color: #fff
  font-size: 1.5rem

.side-img
  display: block
  background: url(../img/side.jpg)
  background-repeat: no-repeat
  background-size: cover
.sign
  display: flex
.sign-social
  display: grid
  &__button
    display: flex 
    justify-content: center
    align-items: center
    position: relative
    border: 1px solid var(--border-color)
    background: none
    margin: .5rem 0 
    padding: 1.5rem
    text-transform: uppercase
    font-weight: 700
    color: var(--primary-color)
    border-radius: .5rem
