.container
  display: flex
  justify-content: center
  align-items: center
  height: 100%
  

.membership
  display: grid
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr))
  width: 90rem
  height: 80vh
  background-color: #fff

.side-img
  background: url(../img/side.jpg)
  background-repeat: no-repeat
  background-size: cover
