.membership
  display: grid
  grid-template-columns: minmax(200px, 2fr)  1fr
  margin: 5rem auto
  width: 65vw
  height: 60rem
  font-size: 1.5rem

  @media screen and (max-width: 800px)
    grid-template-columns: 1fr

.sign
  display: flex
  flex-direction: column
  padding: 0 5rem
  position: relative
  background-color: #fff
  border-top-left-radius: .9rem
  border-bottom-left-radius: .9rem

  @media screen and (max-width: 800px )
    border-radius: .9rem

  &__about
    margin: 4rem 0

    @media screen and (max-width: 600px )
      margin: 3rem 0

  &__email
    display: flex
    position: absolute
    left: 0
    bottom: 4rem
    width: 100%
    justify-content: space-between
    padding: 3rem 4rem 0 4rem
    font-size: 1.3rem
    font-weight: 500
    border-top: solid .1rem var(--border-color)

    @media screen and (max-width: 600px )
      padding: 2rem 3rem 0 3rem
      font-size: 1.1rem 
    
  &__button-email
    color: var(--primary-color)
    font-weight: 700
    border: none
    background: transparent
    text-transform: uppercase
    font-size: 1.2rem
    padding: 0 2rem

    @media screen and (max-width: 600px )
      font-size: 1.1rem

    &:hover
      color: #000
      cursor: pointer
    
.sign-social
  display: grid // get items easily vertically align 
  &__button
    display: flex 
    justify-content: center
    align-items: center
    position: relative
    border: 1px solid var(--border-color)
    background: none
    margin: 1rem 0 
    padding: 1.9rem
    text-transform: uppercase
    font-weight: 700
    color: var(--primary-color)
    border-radius: .5rem

    @media screen and (max-width: 600px )
      padding: .9rem

    &:hover
      border: .1rem solid transparent // better than border: none, because doesn't move the page
      box-shadow: .4rem .4rem .4rem rgba(#000, 0.1)
      cursor: pointer
      
.side-img
  display: block
  background: url(../img/side.jpg)
  background-repeat: no-repeat
  background-size: cover
  border-top-right-radius: .9rem
  border-bottom-right-radius: .9rem  
  
  @media screen and (max-width: 800px)
    display: none

