.ticket
  width: 35rem
  height: 37rem
  background-color: #fff
  border-radius: .6rem
  margin: 10rem auto
  font-size: 2rem

  &__dest
    height: 12rem
    display: grid
    grid-template-columns: 2fr 1fr 2fr 
    justify-items: center
    align-content: center
    
  &__info
    display: grid
    grid-template-columns: repeat(3, auto)
    grid-template-rows: repeat(4, 5rem)
    padding: 2rem

.qr-code
  grid-column: 2 / -1
  grid-row: 2 / 4
  justify-self: end
  padding-top: 1rem
