*,
*::before,
*::after
  margin: 0
  padding: 0
  box-sizing: inherit

html,body
  box-sizing: border-box
  font-size: 62.5%	 // 10px/16px = 62.2% -> 1rem = 10px
  font-family: 'Nunito Sans', sans-serif
  line-height: 1.4
  background-color: #AFC4D8
\:root
  --margin: 1rem 1rem

.heading-name
  font-size: 1.5rem
  font-weight: 700
  letter-spacing: .15rem

.icon 
  width: 2rem
  height: 2rem

.online-check
  margin-right: 1.5rem

.message-date
  display: block
  color: #AAAAAA
  background-color: #fff
  padding-bottom: .5rem
  font-size: 1.1rem

.message-writing
  border: none
  height: 100%
  outline: none
  width: 100%

.button
  border: none
  background-color: transparent
  cursor: pointer
  text-align: right
  margin-right: 1rem
  width: 50%
  text-transform: uppercase
  
