*,
*::before,
*::after
  margin: 0
  padding: 0
  box-sizing: inherit

html,body
  box-sizing: border-box
  font-size: 62.5%	 // 10px/16px = 62.2% -> 1rem = 10px
  font-family: 'Nunito Sans', sans-serif
  line-height: 1.4
  background-color: #AFC4D8
  
\:root
  --primary-color: #6a96d8
  --margin: 1rem 1.5rem
  --white: #fff
  --light-grey: #dddddd
  --medium-grey: #aaaaaa

.heading-name
  font-size: 1.3rem
  font-weight: 700
  margin-right: auto
  
.icon 
  width: 2rem
  height: 2rem
  opacity: .8
  cursor: pointer
  
.online-check
  margin-right: 1.5rem

.message
  display: block
  background-color: transparent

  &-date
    color: var(--medium-grey)
    padding-bottom: .5rem
    font-size: 1.1rem

  &-writing
    border: none
    height: 100%
    outline: none
    color: #353535
    width: 100%

    &::placeholder
      color: var(--medium-grey)
  
.button
  border: none
  background-color: transparent
  outline: none
  cursor: pointer
  text-transform: uppercase
  color: var(--primary-color)
  font-weight: 700
  
  &::-moz-focus-inner 
    border: 0
