.messages
  display: grid
  width: 35rem
  height: 50rem
  font-size: 1.3rem
  background-color: var(--white)
  margin: 10rem auto
  
  &__name
    display: flex
    align-items: center
    padding: 2rem
    height: 5rem
    color: var(--white)
    text-transform: uppercase
    background-color: var(--primary-color)
    
  &__date
    display: flex
    margin: 1rem 1.5rem 0 1.5rem
    color: var(--light-grey)
    text-transform: uppercase
    font-size: 1.2rem
    text-align: center

    &::before, 
    &::after 
      content: ""
      position: relative
      top: 0.65em
      width: 45%
      border-top: .1rem solid var(--light-grey)

    &::before 
      right: 1.5%

    &::after 
      left: 1.5%

  &__sender
    justify-self: flex-start
    margin: var(--margin)
    max-width: 70%

  &__blocked
    background-color: #ffc2c1
    justify-self: flex-end
    padding: 1rem
    border-radius: .5rem
    margin: 0 1.5rem 2rem 1.5rem
    max-width: 70%

  &__receiver
    margin: 1rem 3rem
    max-width: 70%
    justify-self: flex-end
    
  &__write
    display: flex
    margin: 0 1.5rem
    height: 5rem
    border-top: .1rem solid var(--light-grey)

.message-received
  background-color: #f2f2f2
  padding: 1rem
  border-radius: .5rem
  position: relative

  &::before
    content: ""
    position: absolute
    right: -.7rem
    top: 0
    width: 0
    height: 0
    border: 1rem solid transparent
    border-left-color: #f2f2f2
    border-right: 0
    border-top: 0

.message-sent
  background-color: #e6edf6
  padding: 1rem
  border-radius: .5rem
  position: relative

  &::before
    content: ""
    position: absolute
    left: -.7rem
    top: 0
    width: 0
    height: 0
    border: 1rem solid transparent
    border-right-color: #e6edf6
    border-left: 0
    border-top: 0
