*,
*::before,
*::after
  margin: 0
  padding: 0
  box-sizing: inherit

html,
body
  box-sizing: border-box
  font-size: 62.5%	 // 10px/16px = 62.2% -> 1rem = 10px
  font-family: 'Roboto', sans-serif
  line-height: 1.4

\:root
  --secondary-color: #dededede
  --black: #333333

.heading-1
  font-size: 2.5rem

.icon
  width: 5rem
  height: 5rem

  &--arrow
    width: 2rem
    height: 2rem
    margin-left: .5rem
