.wrapper
  height: 100vh
  background-image: url(../img/background.jpg)
  background-size: cover
  overflow: hidden
  font-size: 1.4rem
  
.payment
  width: 34rem
  height: 31rem
  display: grid
  grid-template-rows: 2fr repeat(4,1fr)
  margin: 10rem auto
  border-radius: .4rem
  background-color: #fff
  color: var(--black)
  text-transform: uppercase

  @media screen and (max-width: 360px)
    width: 100vw
    height: 31rem
    border-radius: 0

  &__title
    display: flex
    flex-direction: column
    align-items: center
    font-weight: 500
    font-size: 1rem
    border-bottom: 1px solid var(--secondary-color)

  &__method
    display: grid
    grid-template-columns: 1fr 90px 2fr
    align-items: center
    font-size: 1.3rem
    font-weight: 700
    border-bottom: .1rem solid var(--secondary-color)
    padding-left: 2rem
    cursor: pointer
    color: var(--secondary-color)

    &:hover
      background-color: #f0f0f1
      transition: all .3s

    &:nth-child(4)
      border: none

  &__next:active
    padding-top: .1rem

.dots
  padding: 1rem 0
  color: var(--secondary-color)
  font-size: 1.4rem

.dots span:first-child
  color: var(--black)

.button-next
  display: flex
  justify-content: center
  align-items: center
  width: 100%
  height: 100%
  border: none
  cursor: pointer
  color: #fff
  background-color: rgba(#598BDD,0.9)
  font-weight: 700
  text-transform: uppercase
  border-bottom-left-radius: .4rem
  border-bottom-right-radius: .4rem 
  outline: none
  &:active
    padding-top: .1rem
  &:hover
    background-color: #598BDD
  
  @media screen and (max-width: 360px)
    border-radius: 0
  
.is-active 
  display: none
  
.is-selected > .is-check
  display: block
  width: 2.5rem
  height: 2.5rem
  justify-self: end
  margin-right: 1.5rem
  
.is-selected
  transition: all .5s
  color: var(--black)
