.wrapper
  width: 100vw
  height: 100vh
  background-image: url(../img/background.jpg)
  background-size: cover
  overflow: hidden

  font-size: 1.4rem

.payment
  width: 34rem
  height: 31rem
  display: grid
  grid-template-rows: 2fr repeat(4,1fr)
  margin: 10rem auto
  border-radius: .4rem
  background-color: #fff
  color: #333333
  text-transform: uppercase

  &__title
    display: flex
    flex-direction: column
    align-items: center
    font-weight: 500
    font-size: 1rem
    border-bottom: 1px solid var(--secondary-color)

  &__method
    display: flex
    align-items: center
    font-size: 1.3rem
    font-weight: 700
    padding-left: 2rem
    border-bottom: .1rem solid var(--secondary-color)
    letter-spacing: .1rem

.steps
  padding: 1rem 0
  color: var(--secondary-color)
  font-size: 1.3rem
.flag-name
  padding-left: 2rem 
    
.button-next
  display: block
  width: 100%
  height: 100%
  border: none
  cursor: pointer
  color: #fff
  background-color: #598BDD
  font-weight: 700
  text-transform: uppercase
  border-bottom-left-radius: .4rem
  border-bottom-right-radius: .4rem

