.wrapper
  width: 100vw
  height: 100vh
  background-image: url(../img/background.jpg)
  background-size: cover
  overflow: hidden

  font-size: 1.4rem

.payment
  width: 35rem
  height: 30rem
  background-color: #fff

  display: grid
  grid-template-rows: 2fr repeat(3,1fr) 2fr
  margin: 10rem auto
  border-radius: .5rem

  &__method
    display: flex
    align-items: center
    font-size: 1.6rem
    text-transform: uppercase
    font-weight: 900

.method__flag
    padding: 1rem 
    
