*,
*::before,
*::after
  margin: 0
  padding: 0
  box-sizing: inherit

html
  font-size: 62.5% 
  box-sizing: border-box

body
  font-family: 'Roboto', sans-serif
  line-height: 1.4
  background-color: var(--primary-color)

li
  list-style: none


\:root 
  --primary-color: #f8ebe9
  --black: #333333
  --grey: #999999


.icon-arrow
  width: 1.8rem
  height: 1.8rem

  &--back
    margin-right: .5rem
    opacity: .7
  +arrow-size
  margin-left: .5rem

.icon-arrow-back
    +arrow-size 
    margin-right: .5rem
    opacity: .7

.icon-play
    width: 2.5rem
    height: 2.5rem

    &:hover
      cursor: pointer
      transform: scale(1.2)
    
.u-text-title
  +font-serif(5rem)
  font-weight: 400
