.card
  display: grid 
  grid-template-columns: 1fr 2fr
  background-color: #fff
  width: 75vw
  height: 80vh
  margin: 5rem auto
  
  @media screen and (max-width: 600px)
    width: 100vw
    grid-template-columns: auto
    grid-template-rows: 0 1fr 
  &__img
    background: url(../img/background.jpg)
    background-size: cover
    background-repeat: no-repeat
  
    @media screen and (max-width: 600px)
      background: none

.categories
  display: flex
  align-items: center
  height: 5rem
  font-size: 1.3rem
  text-transform: uppercase
  font-weight: 500
  color: var(--grey)
  margin: 2rem 3rem

  &--right
    justify-content: flex-end

.category
  display: flex

  &__items:not(:last-child)
    margin-right: 2.5rem 

  &--back
    color: var(--black)
    opacity: .7
    display: flex
    align-items: center
  @media screen and (max-width: 500px )
    padding-left: .5rem
    width: 100vw
    align-items: center

    @media screen and (max-width: 500px )
      grid-template-columns: 15rem 15rem

  position: absolute
  top: 0 
  left: 0
  width: 100%
  display: flex

