.card
  display: grid 
  grid-template-columns: minmax(20rem,1fr) 2fr
  background-color: #fff
  width: 95rem
  height: 55rem
  margin: 5rem auto

  @media screen and (max-width: 600px)
    width: 100vw
    grid-template-columns: auto
    grid-template-rows: 0 1fr 
  
  &__img
    background: url(../img/background.jpg)
    background-size: cover
    background-repeat: no-repeat
  
    @media screen and (max-width: 600px)
      background: none

.categories
  display: flex
  align-items: center
  height: 5rem
  font-size: 1.2rem
  text-transform: uppercase
  font-weight: 500
  color: var(--grey)
  padding: 2rem 3rem

  &--right
    justify-content: flex-end

.category
  display: flex
  &__items:hover
    cursor: pointer
    color: var(--black)
    
  &__items:not(:last-child)
    margin-right: 2.5rem 

  &--back
    color: var(--black)
    opacity: .7
    display: flex
    align-items: center
    &:hover
      cursor: pointer
      opacity: 1

.about
  display: flex
  flex-direction: column   
  width: 50rem
  padding: 5rem 0 0 8rem
  color: var(--black)

  @media screen and (max-width: 500px )
    padding-left: .5rem
    width: 100vw
    align-items: center

  &__preview
    display: grid
    grid-template-columns: 20rem 1fr
    padding-top: 5rem

    @media screen and (max-width: 500px )
      grid-template-columns: 15rem 15rem

.preview-img
  position: relative
  height: 15rem
  background: url(../img/preview.jpg)
  background-size: cover
  background-repeat: no-repeat
  
.preview-text
  font-weight: 400
  font-size: 1.5rem
  padding-left: 2rem
  
.preview-watch
  position: absolute
  top: 100%
  left: 0
  display: flex
  align-items: center
  margin-top: 1rem
  font-size: 1.3rem
  font-weight: 700

.play-button
  width: 4rem
  height: 4rem
  background-color: rgba(#fff, .6)
  border-radius: 50%
  /* For vertically and horizontally center svg icon */ 
  display: flex
  align-items: center
  justify-content: center
  /* Technique for vertically and horizontally centering absolute items, needs a explicit height*/ 
  margin: auto
  position: absolute
  top: 0 
  left: 0 
  bottom: 0 
  right: 0
