.c-search-input
  border: none
  border-bottom: .1rem solid var(--light-grey)
  display: block
  padding-bottom: .5rem
  color: var(--black)
  outline: none

  +x-sm
    width: 80%
    margin-left: 2rem

  &::placeholder
    color: var(--light-grey)

  &:focus
    border-color: var(--black)
  
