\:root
  --font-primary: 'Roboto', sans-serif
  --font-size-reset: 62.5%
  --text-base-size: 1.6rem

.b1
  font-size: 4rem

.b2
  font-size: 3rem

.b3
  font-size: 2rem

.s1
  font-size: 1.4rem
  &--bold
    font-weight: 500
.s2
  font-size: 1.2rem

$b1: 4rem
$b2: 3rem
$b3: 2rem
$s1: 1.4rem
$s2: 1.2rem
