*,
*::before,
*::after
  margin: 0
  padding: 0
  box-sizing: inherit

html
  font-size: 62.5% // 10px/16px = 62.5% -> 1rem = 10px
  box-sizing: border-box

body
  font-family: 'Roboto', sans-serif
  line-height: 1.4
  background-color: var(--secondary-color)

\:root 
  --primary-color: #484956
  --secondary-color: #F2CE97
  --detail-color: #E37B62

.icon
  width: 1.8rem
  height: 1.8rem
  &--dots
    width: 2rem
    height: 2rem
    cursor: pointer

.u-text
  font-size: 1.4rem
  padding-bottom: 2rem  
  
  &--big-letter::first-letter
    font-weight: 700
    font-size: 2rem

.u-comments-num
  margin-left: .5rem
  color: rgba(#484956, .6)
  font-weight: 300

.u-bold
  font-weight: 700
  
.author-avatar
  border-radius: 100%
  width: 6rem
  height: 6rem
  box-shadow: 3px 3px 20px rgba(#000, .5)

  @media screen and (max-width: 600px)
    width: 4rem
    height: 4rem
