.container
  display: flex
  align-items: center
  justify-content: center
  height: 100vh

.blog  
  display: grid
  grid-template-columns: 1fr 2fr
  width: 60vw
  height: 40rem
  background-color: #fff

  &__title
    background-color: var(--primary-color)
    display: flex
    flex-direction: column
    justify-content: space-between
    padding: 3rem
    color: #EBE7E2

  &__text
    padding: 3rem 3rem 0 3rem

.text-info
  display: flex
  justify-content: space-between
  &__more
    display: flex
    margin: 1rem
