.container
  display: flex
  align-items: center
  justify-content: center
  height: 100vh

.blog  
  display: grid
  grid-template-columns: 1fr 2fr
  width: 70vw
  height: 40rem
  background-color: #fff
