:root {
  --font-primary: "Roboto", sans-serif;
  --font-size-reset: 62.5%;
  --text-base-size: 1.6rem;
  --text-primary-color: #333333;
  --text-secondary-color: #a7a7a7;
  --gray: #999999;
  --black: #24292e;
  --white: #fff;
  --button-primary-color: #ea625c;
  --baseline: 2.4rem;
  --space-sm: calc(var(--baseline)/2);
  --space-md: var(--baseline);
  --space-lg: calc(var(--baseline)*2);
  --space-xl: calc(var(--baseline)*3);
}

.about, .hero {
  margin: 0 auto;
  width: 90vw;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: var(--font-size-reset);
  box-sizing: border-box;
}

body {
  font-family: var(--font-primary);
  line-height: 1.4;
  font-size: var(--text-base-size);
  background-color: var(--white);
  overflow-x: hidden;
}

li {
  list-style: none;
}

.u-heading-primary {
  color: var(--text-primary-color);
  font-size: 3.1rem;
  margin-bottom: 5rem;
  font-weight: 700;
  letter-spacing: -1px;
}
@media screen and (min-width: 576px) {
  .u-heading-primary {
    font-size: 3.6rem;
  }
}

.u-text {
  color: var(--text-secondary-color);
  display: flex;
  margin-bottom: 4rem;
}
.u-text--line::before {
  content: "";
  width: 0.5rem;
  background-color: rgba(167, 167, 167, 0.5);
  margin-right: 2rem;
}

.search-input {
  border: none;
  background: transparent;
  padding-bottom: 0.5rem;
  border-bottom: solid 1px var(--text-secondary-color);
  outline: none;
  width: 17rem;
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--black);
}
.search-input::placeholder {
  font-weight: 500;
  color: rgba(51, 51, 51, 0.5);
}
.search-input:active, .search-input:focus {
  border-bottom-color: var(--black);
}

.icon-logo {
  margin-right: 2.5rem;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .icon-logo {
    margin-right: 0;
  }
}

.button {
  display: block;
  border: 0.1rem solid var(--button-primary-color);
  padding: 1rem;
  text-transform: uppercase;
  font-weight: 700;
  background-color: var(--button-primary-color);
  color: var(--white);
  cursor: pointer;
}
.button:hover {
  background-color: #D55A54;
}

.header {
  margin: 0 auto;
  width: 90vw;
  font-size: 1.4rem;
}
@media screen and (min-width: 992px) {
  .header {
    width: 60vw;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-top: var(--space-md);
}

.navigation {
  display: flex;
  align-items: center;
  font-weight: 500;
  color: var(--text-secondary-color);
}
.navigation__items {
  cursor: pointer;
  margin-right: var(--space-md);
}

.hero {
  position: relative;
  height: 85vh;
}
@media screen and (min-width: 992px) {
  .hero {
    width: 60vw;
  }
}
.hero__intro {
  height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.hero__intro::after {
  content: "";
  display: none;
  width: 75%;
  height: 95%;
  background: url(../img/watches.jpg);
  background-size: cover;
  position: absolute;
  left: 90%;
  bottom: 0;
}
@media screen and (min-width: 992px) {
  .hero__intro::after {
    display: block;
  }
}

.intro__text {
  width: 70%;
}
@media screen and (min-width: 992px) {
  .intro__text {
    width: 50%;
  }
}

@media screen and (min-width: 992px) {
  .about {
    width: 60vw;
  }
}

.about::before {
  position: absolute;
  left: 0;
  content: "";
  display: block;
  width: 100vw;
  margin-left: 0;
  height: 2px;
  background-color: rgba(167, 167, 167, 0.4);
}

/*# sourceMappingURL=main.css.map */
